body{
  background-image: url("../image/image2.jpg");
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover; 
}

.container{
  width:100%;
  padding-left:15px;
  margin-right:auto;
  margin-top: 200px;
}
@media (min-width:576px){
  .container{
      max-width:540px
  }
}
@media (min-width:768px){
  .container{
      max-width:720px
  }
}
@media (min-width:992px){
  .container{
      max-width:960px
  }
}
@media (min-width:1200px){
  .container{
      max-width:1140px
  }
}

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}

@media(min-width:576px){
  .col-sm{
      -ms-flex-preferred-size:0;
      flex-basis:0;
      -ms-flex-positive:1;
      flex-grow:1;
      max-width:100%
  }
  .col-sm-12{
      -ms-flex:0 0 100%;
      flex:0 0 100%;
      max-width:100%
  }
}

@media(min-width:768px){
  .col-md{
      -ms-flex-preferred-size:0;
      flex-basis:0;
      -ms-flex-positive:1;
      flex-grow:1;
      max-width:100%
  }
 
  .col-md-12{
      -ms-flex:0 0 100%;
      flex:0 0 100%;
      max-width:100%
  }
}

.title{
  font-size: 35px;
  color: white;
}

.sub-title{
  font-size: 25px;
  color: white;
}
.password-form {
  color: white;
  position: relative;
  margin: 0 -100px;
  padding: 20px 20px 20px;
  width: 310px;
}

.password {
  width: 200px;
  height: 15px;
  margin-left: 20px;
  border-radius: 15px;
  border: none;
  color: white;
}

.control-label {
  color: white;
  width: 100%;
}

.form-button {
  color: white;
  width: 100px;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background-image: linear-gradient(to left, #101010, #131313);
}

#message {
  display:none;
  color: white;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: #00ff00;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: #f4181b;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}